NEXT_PUBLIC_ENABLE_ASSESSMENT_PILOT=false
NEXT_PUBLIC_ENABLE_HVP_CURATED_PRACTICE=false
NEXT_PUBLIC_ENABLE_TISSUE_FOUNDATIONS_CURATED_PRACTICE=false
NEXT_PUBLIC_ENABLE_OCULAR_ADNEXA_CURATED_PRACTICE=false
NEXT_PUBLIC_ENABLE_AQUEOUS_VITREOUS_CURATED_PRACTICE=false
NEXT_PUBLIC_ENABLE_BLOOD_SUPPLY_CURATED_PRACTICE=false
NEXT_PUBLIC_ENABLE_ENVIRONMENTAL_VISION_CURATED_PRACTICE=false
NEXT_PUBLIC_ENABLE_AUTONOMIC_PHARMACOLOGY_CURATED_PRACTICE=false
NEXT_PUBLIC_ENABLE_SYSTEMIC_PATHOLOGY_CURATED_PRACTICE=false
